/* @media (min-width: 768px) */
@media (min-width: 768px) {
  /* navbar */
  .nav-body .icon img {
    width: 1rem;
    display: inline;
  }
  .nav-body button.btn-style {
    background-color: #ffd15b;
    font-weight: 700;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    border: 0.15rem solid;
    transition: all 0.2s;
    font-size: 1rem;
  }

  .nav-body ul li a {
    font-size: 1rem;
  }
  /* hero secsion */
  .trending-now .left-side .heading h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .trending-now .left-side .buttons .left,
  .trending-now .left-side .buttons .right {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem 2rem;
  }
  .trending-now .left-side .buttons img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
  /*  LATEST ARTICLES الجزء الثالث  */
  /* left-side */
  .latest-articles .left-side .text-head {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .latest-articles .left-side .text-head h2 {
    font-size: 3rem;
  }
  .latest-articles .left-side .text-head .top {
    color: #fff;
    background-color: black;
    border: 0.2rem solid black;
    width: fit-content;
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    font-weight: 700;
    transform: rotate(2deg);
    box-shadow: 0.3rem 0.3rem black;
    position: absolute;
    top: 1px;
    right: 0;
    visibility: inherit;
  }
  .latest-articles .left-side .cards {
    border: 0.25rem solid black;
    padding: 2rem;
  }
  .latest-articles .left-side .cards .left img {
    width: 9.75rem;
    border: 0.125rem solid;
  }
  .latest-articles .left-side .text-head {
    margin-bottom: 3rem;
  }
  .latest-articles .left-side .cards .right ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .latest-articles .left-side .cards .right ul li {
    width: 50%;
  }
  .latest-articles .left-side .cards .left {
    width: fit-content;
    margin-top: 0;
    margin-right: 20px;
  }
  .latest-articles .left-side .cards .right p {
    max-width: 400px;
  }
  /* right-side */
  .latest-articles .right-side .cards h2 {
    font-size: 1.775rem;
    font-weight: 900;
    margin-block: 1rem;
  }
  .latest-articles .right-side .card1 .nums {
    font-size: 2.25rem;
    font-weight: 900;
  }
  .latest-articles .right-side .card1 .num h3 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .latest-articles .right-side .card1 .num span {
    font-size: 0.875rem;
    font-weight: 400;
    color: #525252;
  }
  /* card2 */
  .latest-articles .right-side .card2 .all-line {
    font-size: 1rem;
    box-shadow: 0 0 0 black;
    padding: 0.756rem 0.975rem;
  }
  /*   <!-- MEET THE AUTHORS الجزء الرابع  --> */
  .the-authors .cards .card .gray {
    color: #525252;
    font-size: 1rem;
    font-weight: 700;
  }
  .the-authors .cards .card h3 {
    font-size: 1.875rem;
    font-weight: 900;
  }
  .the-authors .cards .card p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
  }
  /* cards-image */
  .the-authors .cards .card .cards-image .image img {
    width: 1.5rem;
  }
  .the-authors .cards .card .cards-image .image {
    width: 3rem;
    height: 3rem;
  }
  .the-authors .heading h2 {
    font-size: 3rem;
    font-weight: 900;
    width: fit-content;
  }
  .the-authors .heading p {
    font-size: 1.25rem;
    font-weight: 600;
    color: #525252;
    position: relative;
  }
  /* JOIN THE REBELLION  الجزء الخامس  */
  .community .heading h2 {
    font-size: 3rem;
    font-weight: 900;
    width: fit-content;
  }
  .community .heading p {
    font-size: 1.25rem;
    font-weight: 600;
    color: #525252;
    position: relative;
  }
  /* conten-text */
  /* left-side */
  .community .conten-text .left-side h3 {
    font-size: 2.25rem;
  }
  .community .conten-text .left-side .text {
    line-height: 2.06rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .community .conten-text .left-side .lines .line p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .community .conten-text .left-side img {
    width: 1.5rem;
  }
  .community .conten-text .left-side .lines .icon {
    width: 3rem;
    height: 3rem;
  }
  .conten-text .left-side button img {
    width: 3rem;
  }
  .conten-text .left-side button {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    width: 23.125rem;
    height: 5rem;
  }
  /* right-side */
  .conten-text .right-side h3 {
    font-size: 1.875rem;
  }
  .conten-text .right-side .cards .card p {
    line-height: 1.5rem;
  }
  .conten-text .right-side .cards .card .info span {
    font-size: 0.875rem;
  }
  .conten-text .right-side .cards .card .info h4 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .conten-text .right-side .cards .card .info .image {
    width: 3rem;
    height: 3rem;
  }
  /* the fotter الجزء السادس  */
  .the-fotter .centar {
    display: flex;
    column-gap: 4rem;
  }
  /* left */
  .the-fotter .left .image {
    width: 3.7rem;
    height: 3.7rem;
  }
  .the-fotter .left .image img {
    width: 2rem;
  }
  .the-fotter .left .head h2 {
    font-size: 1.875rem;
  }
  /* between */
  .the-fotter .between a {
    font-weight: 600;
    font-size: 1.125rem;
  }
  /* h3 for fotter */
  .the-fotter h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .the-fotter p {
    font-size: 1.125rem;
    line-height: 1.812rem;
    margin-top: 1.5rem;
  }
  /* right */
  .the-fotter .right input {
    font-size: 1.125rem;
  }
  .the-fotter .right input::placeholder {
    font-size: 1.125rem;
  }
  .the-fotter .right button {
    font-size: 1.125rem;
  }
  .the-fotter .right .button {
    margin-bottom: 0rem;
  }
  /* fotter */
  .the-fotter .fotter p {
    font-size: 1.125rem;
  }
  .the-fotter .fotter a {
    font-size: 1rem;
  }
}
/* @media (min-width: 1024px) */
@media (min-width: 1024px) {
  /*   <!--navbar الجزء الاول  --> */
  .nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.5rem;
    border: 0.15rem solid;
    border-radius: 1rem;
    background-color: #ffffff;
  }
  .nav-body ul {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
  }
  /*   <!--  TRENDING NOW الجزء الثاني  -->  */
  .trending-now {
    background-color: #fff085;
    padding-top: 8rem;
    border-bottom: 0.13rem solid;
  }
  .trending-now .body {
    display: flex;
    justify-content: space-between;
  }
  /* hero secsion */
  .trending-now .left-side .heading h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .trending-now .left-side .text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    max-width: 36.5rem;
  }
  .trending-now .right-side .image {
    transform: rotate(2deg);
    height: 23.5rem;
  }
  /* .image:hover */
  .trending-now .right-side .image:hover {
    transform: translate(-0.3rem, -0.3rem) rotate(2deg);
  }
  .trending-now .right-side .top {
    color: #fff;
    background-color: #fb2c36;
    border: 0.15rem solid black;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    transform: rotate(8deg);
    box-shadow: 0.3rem 0.3rem black;
    position: absolute;
    top: 4.8rem;
    right: -0.5rem;
    z-index: 1;
  }
  .trending-now .left-side .buttons {
    display: flex;
    margin-bottom: 0;
  }
  /* width */
  .lg-50 {
    width: 50%;
  }
  .lg-45 {
    width: 45%;
  }
  /*  LATEST ARTICLES الجزء الثالث  */
  .latest-articles .body {
    display: flex;
    justify-content: space-between;
  }
  .latest-articles .left-side {
    width: 65%;
  }
  .latest-articles .left-side .text-head h2 {
    font-weight: 900;
  }
  .latest-articles .left-side .cards .right ul {
    display: flex;
    justify-content: space-between;
  }
  .latest-articles .left-side .cards .right ul li {
    width: fit-content;
  }
  .latest-articles .left-side .cards {
    display: flex;
    justify-content: space-between;
  }
  .latest-articles .left-side .cards .right {
    width: 75%;
    margin-top: 0;
  }
  .latest-articles .left-side .cards .right h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
  }
  .latest-articles .left-side .cards .right p {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  .latest-articles .left-side .cards .right ul {
    margin-top: 1rem;
  }
  .latest-articles .left-side .cards .right ul li span {
    font-size: 0.75rem;
    font-weight: 600;
  }
  .latest-articles .left-side .cards .right ul li span {
    font-size: 0.875rem;
    font-weight: 600;
  }
  .latest-articles .left-side .cards .right p {
    max-width: 600px;
  }
  /* right-side */
  /* card1 */
  .latest-articles .body .right-side .cards {
    position: sticky;
    top: 2rem;
  }
  .latest-articles .right-side {
    width: 30%;
  }
  /* THE AUTHORS الجزء الرابع*/
  .community .conten-text {
    display: flex;
    justify-content: space-between;
  }
  .the-authors .cards {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
  .the-authors .cards .card {
    width: 48%;
  }
  .conten-text .left-side {
    width: 45%;
  }
  .conten-text .right-side {
    width: 50%;
  }
  /* the fotter الجزء السادس  */
  .the-fotter .body {
    display: flex;
    justify-content: space-between;
  }
  .the-fotter .body p {
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .the-authors .cards {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 2rem;
    justify-content: center;
  }
  .the-fotter .fotter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
